/*styles.css*/
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
}

h1 {text-align: center;
font-weight: 300;}

ul {
list-style: none;}

ol{
margin:auto;
width:600px;}

img {
    width: 300px;;
    height:auto;
}

button{ 
margin-top: 20px;
color: white;
font-weight: 300;
background-color: blueviolet;
}